<app-crud-page
  title="User Management"
  description="Manage system users, their roles, and permissions"
  [showBreadcrumb]="true"
  [showAddButton]="true"
  addButtonText="Add New User"
  (onAdd)="openCreateModal()"
>
  <app-data-table
    [data]="users"
    [columns]="columns"
    [actions]="actions"
    [loading]="loading"
    [showSearch]="true"
    searchPlaceholder="Search by name or email..."
    [isServerSide]="true"
    [pagination]="pagination"
    [showPagination]="true"
    [paginationPosition]="'bottom'"
    [showSizeChanger]="true"
    [showQuickJumper]="true"
    idKey="id"
    (pageChange)="onPageChange($event)"
    (searchChange)="onSearchChange($event)"
    (sortChange)="onSortChange($event)"
    (filterChange)="onFilterChange($event)"
  ></app-data-table>
</app-crud-page>

<!-- User Form Modal -->
<app-user-form-modal
  [isVisible]="showUserModal"
  [user]="selectedUser!"
  [isLoading]="modalLoading"
  (onSave)="onSaveUser($event)"
></app-user-form-modal>

<!-- Templates for custom column rendering -->
<ng-template #statusTemplate let-item="item" let-column="column">
  <ng-container *ngIf="item && column">
    <nz-tag *ngIf="column.key === 'isActive' && item.isActive" nzColor="green">
      <nz-icon nzType="check-circle"></nz-icon> Active
    </nz-tag>
    <nz-tag *ngIf="column.key === 'isActive' && !item.isActive" nzColor="red">
      <nz-icon nzType="close-circle"></nz-icon> Inactive
    </nz-tag>

    <nz-tag *ngIf="column.key === 'mustChangePassword' && item.mustChangePassword" nzColor="warning">
      <nz-icon nzType="warning"></nz-icon> Must Change
    </nz-tag>
    <nz-tag *ngIf="column.key === 'mustChangePassword' && !item.mustChangePassword" nzColor="default">
      <nz-icon nzType="check"></nz-icon> OK
    </nz-tag>
  </ng-container>
</ng-template>

<ng-template #dateTemplate let-item="item" let-column="column">
  <ng-container *ngIf="item && column && item[column.key]">
    {{ item[column.key] | date:'MMM dd, yyyy' }}
  </ng-container>
</ng-template>
